{% extends 'base.html.twig' %}

{% block title %}SymBetcheck - Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur SymBetcheck</h1>
        <p class="lead">SymBetcheck est une application qui va te permettre à tenir tes comptes à jour !</p>
        <p class="lead">Tu peux enfin enregistres tous tes mouvements (dépenses et gains) dans l'univers du Jeu (PMU / Casino / Paris sportifs / Grattages, etc.)</p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}